{% extends "base.html" %}

{% block site_nav %}
  {{ super() }}
  <div class="md-nav-extra">
    <a href="https://github.com/krisreynolds/scoutbook/issues/new/choose" class="md-nav-extra__submit">
      ➕ Submit an entry
    </a>
    <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="krisreynolds" data-color="#FFDD00" data-emoji="🍺" data-font="Cookie" data-text="Say thanks with a beer" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff"></script>
  </div>
{% endblock %}